body{
    font-family: var(--mainFont);
}
.header{
    padding: 57px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header .bar{
    display: none;
    width: 40px;
}
.list a{
    color: #0D0E43;
}
.list .active{
    color: var(--primary);
}

.search form input{
    border: none;
    outline: none;
    width: 223px;
    padding-left: 4px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
     
}
.search form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
}
@media screen and (max-width:1200px){
    .list, .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}

.search2 form input{
    border: none;
    outline: none;
    width: 223px;
    padding-left: 4px;
}
.search2 button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
     
}
.search2 form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

/* end header */

/* start footer */

.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.footer .row{
    gap: 20px;

}
.footer a ,.address-info{
    color: #8A8FB9;
}

.right-side{
    width: calc((100% - 20px) / 2);

}
.left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 20px) / 2);
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px) / 3);
}
.footer .right-side .row{
    gap:35px;
    align-items: flex-start;
}
.address-info h2{
    margin-bottom: 15px;
}

@media screen and (max-width:922px) {
    .footer .left-side, .footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }
    .footer-item{
        width: 100%;
    }
}



/* end footer */