body{
    font-family: var(--mainFont);
}
.header{
    padding: 35px 0;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}
.header .bar{
    display: none;
    width: 40px;
}
.list a{
    color: #0D0E43;
}
.list .active{
    color: var(--primary);
}

.search form input{
    border: none;
    outline: none;
    width: 223px;
    padding-left: 4px;
}
.search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
     
}
.search form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
}
@media screen and (max-width:1200px){
    .list, .search{
        display: none;
    }
    .header .bar{
        display: block;
    }
}

.search2 form input{
    border: none;
    outline: none;
    width: 223px;
    padding-left: 4px;
}
.search2 button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
     
}
.search2 form{
    border: 1px solid #E7E6EF;
    border-radius: 5px;
    display: flex;
}

/* end header */


/*start hero*/
.hero-section{
    background-color: #F2F0FF;
    padding: 36px 0;
    position: relative;
    margin-bottom: 20px;
    
    
}
.first-part{
    width: 20%;

    
}
.first-part img{
    max-width: 90%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    right:75%
 
    
}
.second-part{
    width: 40%;
}
.second-part span{
    color: var(--primary);
    font-weight: bold;
}
.second-part h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 33px;
    font-weight: 500;
}
.second-part p{
    color: #8A8FB9;
    font-weight: bold;
    width: 95%;
}
.third-part{
    width: 40%;
}
.third-part img{
    max-width: 100%;
    width: 506px;
    height: 489px;
}

@media screen and (max-width:922px) {
    .first-part img{
     height: 150px;
    
 
    }
    .first-part{
        width: 5%;
    }
    .second-part span{
        font-size: 2.0vw;
    }
    .second-part p{
        font-size: 2.0vw;
    }
    .second-part h2{
        font-size: 3.5vw;
    }
   
    
}
@media screen and (max-width:576px) {
    .hero-section{
       
        flex-direction: column;

    }
    .first-part, .second-part,.third-part{
        width: 100%;

    }
    .first-part img{
    
    width: 140px;
    height: 140px;
    
    top: 0;
    left: 65%;
 
    }
     .second-part span{
        font-size: 3.5vw;
    }
    .second-part p{
        font-size: 3.5vw;
    }
    .second-part h2{
        font-size: 5vw;
    }
   
}
.end-hero{
    text-align: center;
}

/*end hero*/


/* start products */
.featured-product{
    padding: 50px 0;
}
.featured-product h2{
    margin-bottom: 30px;
    color: #1A0B5B;
     font-family: "Josefin Sans", sans-serif;
     font-size: 44px;
}
.featured-product .row{
    justify-content: flex-start;
    gap: 15px;
}
.featured-product .product{
    flex-grow: 1;
    flex-basis: 270px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px #00000040;
}

.product .img{
    background-color: #F6F7FB;
    padding: 10px;
    height: 260px;
}
.product .img i{
    font-size: 17px;
    padding: 10px;
    border-radius: 50%;
    visibility: hidden;
    color: #1389FF;

}
.product .img img{
    object-fit: contain;
    margin-bottom: 5px;
    height: 170px;
}
.product .img .btn2{
    visibility: hidden;
}

.product-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.product-details h3{
    color: var(--primary);
}

.product-details .color{
    width: 15px;
    height: 5px;
    border: none;
    border-radius: 4px;
}
.product-details .color-one{
    background-color:#05E6B7;
}
.product-details .color-two{
    background-color:#F701A8;
}
.product-details .color-three{
    background-color:#00009D;
}
.product-details .product-info{
    color: #151875;
}

.featured-product .product:hover .product-details{
    background-color: #2F1AC4;
   

}
.featured-product .product:hover .img{
    background-color: #F7F7F7;

}

.featured-product .product:hover h3, .featured-product .product:hover .product-info{
    color:white

}
.featured-product .product:hover .btn2{
    visibility: visible;
}
.featured-product .product:hover i{
    visibility: visible;
}
.featured-product i:hover{
    color: #2F1AC4;
    background-color: #EEEFFB;
}
/* end products */

/* start clients */

/* end clients */
.clients{
    padding: 50px 100px;
}
.clients .row{
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
}
.clients .logo{
    width: calc((100% - 60px) / 5);
}

@media screen and (max-width:900px) {
    .clients .logo{
        width: calc((100% - 30px) / 3);
    }
    
}

/* start footer */

.footer{
    background-color: #EEEFFB;
    padding: 50px 0;
}
.footer .row{
    gap: 20px;

}
.footer a ,.address-info{
    color: #8A8FB9;
}

.right-side{
    width: calc((100% - 20px) / 2);

}
.left-side{
    gap: 35px;
    align-items: flex-start;
    width: calc((100% - 20px) / 2);
}
.footer-item{
    gap: 45px;
    width: calc((100% - 70px) / 3);
}
.footer .right-side .row{
    gap:35px;
    align-items: flex-start;
}
.address-info h2{
    margin-bottom: 15px;
}

@media screen and (max-width:922px) {
    .footer .left-side, .footer .right-side{
        width: 100%;
    }
}
@media screen and (max-width:576px) {
    .footer{
        text-align: center;
    }
    .footer-item{
        width: 100%;
    }
}



/* end footer */

.end-footer{
    padding: 18px 0;
    background-color: #E7E4F8;
}
.rights{
    color: #9DA0AE;
}
.rights h3{
    font-size: 16px;
}
.social i{
    font-size: 15px;
    padding: 8px;
    border-radius: 50%;
    background-color: #151875;
   
}
.social .fa-facebook-f{
    
    padding: 8px 11px;
    
   
}